[Unit]
Description=Generate WireGuard connection list
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/wireguard-list.sh

[Install]
WantedBy=multi-user.target
